@import "bootstrap";



.sulley {

	background: image_url('sulley.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	height: 100%;
	width: 1920px;
	margin-left: -17%;
	position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    
}

.squibbles {
		
	background: image_url('squibbles.jpg');
	background-repeat: no-repeat;
	background-size: 50%;
	height: 100%;
	width: 1920px;
	margin-left: -20%;
	position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    

}